/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Zach Gaines
Developer @GA in Austin, TX
*/


/******************************************
/* Custom Styles
/*******************************************/
body {
  font-family: 'Open Sans'
}
.container {

}
header {
  background-image: url("../images/header_bg.jpg");
  background-size: cover;
  height: 300px;
}
h1 {
  color: white;
}
.logo {
  font-size: 24px;
  font-weight: 800;
  padding: 10px 30px;
}
h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color:white;
  padding: 50px;
}
.button_yellow {
  background-color: #f9e42e;
  font-size: 14px;
  font-weight: 800;
  display: flex;
  justify-content: center;
}
#benefits {

}
h3 {
  font-size: 20px;
  font-weight: 600;
  color: #033048;
  padding: 30px 0 10px 20px;
}
.container p {
  font-size: 13px;
  font-weight: 300;
  padding: 5px 0 10px 25px;
}
.container ul{
  list-style-type: disc;
  font-size: 13px;
  font-weight: 300;
  padding: 5px 0 20px 70px;
}
#testimonial {
  background-image: url("../images/testimonial_bg.jpg");
  background-size: cover;
  height:150px;
}
#quotez {
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  color: #606161;
  padding: 20px 0 10px 20px;
  text-align: center;
}
#namez {
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
aside {
  font-size: 12px;
  font-weight: 800;
  background-color: #f9e42e;
  text-align: center;
}
footer {
  background-color: #121212;
}
h4 {
  font-size: 24px;
  font-weight: 800;
  color: #f9e42e;
  padding: 20px 0 20px 0;
  text-align: center;
}
footer ul li {
  padding: auto;
  display: inline-block;
  display: flex;
  justify-content: center;
}
.copyright {
  font-size: 9px;
  font-weight: 600;
}
